#{extends 'main.html' /}
#{set title:'Album form' /}

<h1>Please write information about your favorite album</h1>

#{form @Application.save(), id:'form', method:'POST', enctype:'multipart/form-data'}
<input type="hidden" name="album.id" value="${album?.id}"/>

<p class="field">
    <label for="name">Album Name:</label>
    <input type="text" name="album.name" id="name" value="${album?.name}" class="required"/>
    <span class="error">${errors.forKey('album.name')}</span>
</p>
<p class="field">
    <label for="artist">Artist:</label>
    <input type="text" name="artist.name" id="artist" value="${album?.artist?.name}" class="required"/>
    <span class="error">${errors.forKey('artist.name')}</span>
</p>
<p class="field">
    <label for="genre">Genre:</label>
    <select id="genre" name="album.genre">
        #{list models.Genres.values(), as:'genre'}
        #{if album?.genre == genre}
        <option value="${genre}" selected="selected">${genre.toString().toLowerCase()}</option>
        #{/if}
        #{else}
        <option value="${genre}">${genre.toString().toLowerCase()}</option>
        #{/else}
        #{/list}
    </select>
</p>
<p class="field">
    <label for="release-date">Release date</label>
    <input type="text" name="album.releaseDate" id="release-date" value="${album?.releaseDate?.format('yyyy-MM-dd')}" class="required"/>
    <span class="error">${errors.forKey('album.releaseDate')}</span>
</p>
<p class="field">
    <label for="cover">Cover</label>
    <input type="file" id="cover" name="cover" accept="gif,jpg,jpeg,png,bmp"/>
    #{if album?.hasCover}
    <br/>
    <img src="@{'/public/shared/covers'}/${album?.id}" alt="no cover" widht="50px" height="50px"/>
    #{/if}
</p>


<p class="buttons">
    <a href="/albums" class="button">Cancel</a>
    <span>or</span>
    <input type="submit" class="button" value="Save this album"  id="saveAlbum"/>
</p>

#{/form}

#{set 'moreScripts'}
<script src="@{'public/javascripts/jquery.validate.js'}"></script>
<script>
    $(document).ready(function() {
        $("#form").validate();
    });
    $(function() {
        // those stuff needs to be wrapped in a dom-ready callback. (same as $(document).ready)
        $("#release-date").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'});
    });
</script>
#{/set}